<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--SD.IOC配置节点-->
    <section name="sd.ioc" type="SD.IOC.Core.DependencyInjectionSection, SD.IOC.Core" />
  </configSections>

  <!--SD.IOC配置-->
  <sd.ioc>
    <!--As接口程序集列表-->
    <asInterfaceAssemblies>
      <assembly name="PCLSharp.Modules" />
    </asInterfaceAssemblies>
    <!--As自身程序集列表-->
    <asSelfAssemblies>
      <assembly name="PCLSharp.Client" />
    </asSelfAssemblies>
    <!--As接口类型列表-->
    <asInterfaceTypes>
      <type name="Caliburn.Micro.EventAggregator" assembly="Caliburn.Micro.Core" lifetimeMode="Singleton" />
      <type name="Caliburn.Micro.WindowManager" assembly="Caliburn.Micro.Platform" lifetimeMode="Singleton" />
    </asInterfaceTypes>
  </sd.ioc>

  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true"/>
  </runtime>
</configuration>
